/*normal normal — Montserrat-Regular*/
@font-face {
 font-family: "MontserratFont";
 src: url("../fonts/Montserrat-Regular.otf") format("opentype"),
      url("../fonts/montserrat-regular-webfont.woff") format("woff"),
      url("../fonts/montserrat-regular-webfont.woff2") format("woff2");
 font-weight: normal;
 font-style: normal;
}

/*500 normal — Montserrat-Medium*/
@font-face {
 font-family: "MontserratFont";
 src: url("../fonts/Montserrat-Medium.otf") format("opentype"),
      url("../fonts/montserrat-medium-webfont.woff") format("woff"),
      url("../fonts/montserrat-medium-webfont.woff2") format("woff2");
 font-weight: 500;
 font-style: normal;
}

/*600 normal — Montserrat-SemiBold*/
@font-face {
 font-family: "MontserratFont";
 src: url("../fonts/Montserrat-SemiBold.otf") format("opentype"),
      url("../fonts/montserrat-semibold-webfont.woff") format("woff"),
      url("../fonts/montserrat-semibold-webfont.woff2") format("woff2");
 font-weight: 600;
 font-style: normal;
}

/*bold normal — Montserrat-Bold*/
@font-face {
 font-family: "MontserratFont";
 src: url("../fonts/Montserrat-Bold.otf") format("opentype"),
      url("../fonts/montserrat-bold-webfont.woff") format("woff"),
      url("../fonts/montserrat-bold-webfont.woff2") format("woff2");
 font-weight: bold;
 font-style: normal;
}